/*--------------------------------------
  [BUTTONS]
--------------------------------------*/
.btn {
  border-radius: 25px;
  padding-left: 35px;
  padding-right: 35px;
  box-shadow: 1px 3px 11px 1px rgba(0, 0, 0, 0.45);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
    &-border {
      background: transparent !important;
      border: 2px solid #eee !important;
      color: #eee !important;
      -webkit-border-radius:25px;
      -moz-border-radius:25px;
      -webkit-border-radius:25px;
      -moz-border-radius:25px;
      border-radius:25px;
        &:hover,
        &:focus,
        &:active {
          background: #eee !important;
          border: 2px solid #eee !important;
          color: #102438 !important;
        }
    }

    &-theme {
      background: $theme !important;
      border: 1px solid $theme !important;
      color: #eee !important;
      &:hover,
      &:focus,
      &:active {
        background: $theme-hover !important;
        border: 1px solid $theme-hover !important;
        color: #eee !important;
      }
    }

  &-theme02 {
    background: $theme02 !important;
    border: 1px solid $theme02 !important;
    color: #eee !important;
    &:hover,
    &:focus,
    &:active {
      background: $theme02-hover !important;
      border: 1px solid $theme02-hover !important;
      color: #eee !important;
    }
  }

  &-theme03 {
    background: $theme03 !important;
    border: 1px solid $theme03 !important;
    color: #eee !important;
    &:hover,
    &:focus,
    &:active {
      background: $theme03-hover !important;
      border: 1px solid $theme03-hover !important;
      color: #eee !important;
    }
  }

  &-theme04 {
    background: $theme04 !important;
    border: 1px solid $theme04 !important;
    color: #eee !important;
    &:hover,
    &:focus,
    &:active {
      background: $theme04-hover !important;
      border: 1px solid $theme04-hover !important;
      color: #eee !important;
    }
  }

  &-theme05 {
    background: $theme05 !important;
    border: 1px solid $theme05 !important;
    color: #eee !important;
    &:hover,
    &:focus,
    &:active {
      background: $theme05-hover !important;
      border: 1px solid $theme05-hover !important;
      color: #eee !important;
    }
  }

  &-white {
    background: #fff !important;
    border: 2px solid #fff !important;
    color: $theme !important;
    &:hover,
    &:focus,
    &:active {
      background: #eee !important;
      border: 2px solid #eee !important;
      color: $theme-hover !important;
    }
  }

  &-gradien {
    background: $theme;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, $theme-hover, $theme);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, $theme-hover, $theme); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: none !important;
    color: #eee !important;
    &:hover,
    &:focus,
    &:active {
      opacity: 0.8;
    }
  }
}